/* Dots line styling */
.dots-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:2rem;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #433a8b; 
  margin: 0 5px;
}




