.landing-page{
    overflow:hidden ;
}

.slide__img {
    position: relative;
    height: 100vh; /* This will make it take the full height of the viewport */
    width: 100%;   /* This will make it take the full width */
    overflow: hidden; /* To make sure the image doesn't overflow */
}

.slide__img img {
    object-fit: cover; /* This will make sure the image covers the full area of its container */
    height: 100%;
    width: 100%;
}

.slide {
    position: relative;
}

.slide__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* This will center the content */
    z-index: 2; /* To make sure it stays on top of the image */
    color: white;
}


/* Assuming .at-top is added to body when it's scrolled to the top. */

.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 101;
    
    border: none;
    cursor: pointer;
    padding: 10px; /* Add some padding around the icon */
}

.slick-prev i, .slick-next i {
    color: white;
    font-size: 20px; /* Adjust size as necessary */
}

.slick-prev {
    left: 10px; /* Distance from the left edge */
}

.slick-next {
    right: 10px; /* Distance from the right edge */
}

/* Reset button styles (optional) */
.slick-prev:focus, .slick-next:focus {
    outline: none;
}

.slick-prev:hover, .slick-next:hover {
    background: rgba(0, 0, 0, 0.7); /* Slightly darker on hover */
}

