
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff;
    font-family: "Poppins", sans-serif; /* Added fallback font */
}


/* ---------------------------------------- */









/* ---------------------------------------------------- */



/* ------------------------------------------------------------------------- */



.collaboration h2 {
    font-weight: 900;
    color: black; /* Accent color for highlight */
    font-size: 2.5rem;
    margin-bottom: 20px; /* Space below the heading */
    text-transform: uppercase; /* Make the heading stand out */
    /* border-bottom: 3px solid #8685EF; 
    display: inline-block;  */
    
}


.brands-carousel img {
    max-width: 100%;
    height: auto;
    opacity: 0.8; /* To ensure they don't overpower the page */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
    margin: 0 15px; /* Give each logo some space on the sides */
}

.brands-carousel img:hover {
    opacity: 1; /* Full opacity on hover */
    transform: scale(1.5); /* Slight growth effect on hover */
}


@media (max-width: 768px) {
    .collaboration h2 {
        font-size: 2rem;
    }
}

.choose-us-section {
    padding: 60px 0;
    text-align: center;
}

.choose-title p {
    color: #fb0060; /* Color as per your website */
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 900;
}

.choose-title h1 {
    color: black; /* Color as per your website */
    font-size: 50px;
    font-weight: 900;
    line-height: 1.2;
    max-width: 800px;
    margin: 0 auto;
}
